/* ===== VARIABLES CSS ===== */
:root {
  /* ===== COLORS ===== */
  /* Primary colors */
  --cc-bright-orange: hsl(31, 77%, 52%);
  --cc-dark-cyan: hsl(184, 100%, 22%);
  --cc-very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --cc-paragraphs: hsla(0, 0%, 100%, 0.75);
  --cc-light: hsl(0, 0%, 95%);

  /* ===== TYPOGRAPHY AND FONTS  ===== */
  --ff-body-font: 'Lexend Deca', sans-serif;
  --ff-title-font: 'Big Shoulders Display', cursive;
  --ff-normal-size: 15px;
}

/* ===== BASE ===== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--cc-light);
  font-family: var(--ff-body-font);
  font-size: var(--ff-normal-size);
  color: var(--cc-paragraphs);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

/* ===== REUSABLE CSS CLASSES */
.container {
  margin: 5rem 2rem;
}

.btn {
  background-color: var(--cc-light);
}

