/* ===== VARIABLES CSS ===== */
:root {
  /* ===== COLORS ===== */
  /* Primary colors */
  --cc-bright-orange: hsl(31, 77%, 52%);
  --cc-dark-cyan: hsl(184, 100%, 22%);
  --cc-very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --cc-paragraphs: hsla(0, 0%, 100%, 0.75);
  --cc-light: hsl(0, 0%, 95%);

  /* ===== TYPOGRAPHY AND FONTS  ===== */
  --ff-body-font: 'Lexend Deca', sans-serif;
  --ff-title-font: 'Big Shoulders Display', cursive;
  --ff-normal-size: 15px;

  /* ===== GAPS ===== */
  --gap-100: 1rem;
  --gap-300: 1.5rem;
  --gap-400: 2rem;
  --gap-600: 2.5rem;
  --gap-700: 3rem;
}

/* ===== BASE ===== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--cc-light);
  font-family: var(--ff-body-font);
  font-size: var(--ff-normal-size);
  color: var(--cc-paragraphs);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

/* ===== REUSABLE CSS CLASSES */
.container {
  margin: 5rem 1.5rem;
}

.btn {
  padding: var(--gap-100) var(--gap-400);
  border-radius: 40px;
  border: none;
  background-color: var(--cc-light);
}

.btn--bright-orange {
  color: var(--cc-bright-orange);
}

.btn--dark-cyan {
  color: var(--cc-dark-cyan);
}

.btn--very-dark-cyan {
  color: var(--cc-very-dark-cyan);
}


/* ===== CARDS ===== */
/* Typography */
.card__heading {
  color: var(--cc-light);
  font-family: var(--ff-title-font);
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card__paragraph {
  line-height: 1.75;
}

/* Styles */
.card__container > :first-child {
  border-radius: 1rem 1rem 0 0;
}

.card__container > :last-child {
  border-radius: 0 0 1rem 1rem;
}

.card {
  max-width: 320px;
  margin: auto;
  padding: var(--gap-700);
}

.card--bright-orange {
  background-color: var(--cc-bright-orange);
}

.card--dark-cyan {
  background-color: var(--cc-dark-cyan);
}

.card--very-dark-cyan {
  background-color: var(--cc-very-dark-cyan);
}

.card__img {
  margin-bottom: var(--gap-400);
}

.card__heading {
  margin-bottom: var(--gap-400);
}

.card__paragraph {
  margin-bottom: var(--gap-300);
}

/* ===== MEDIA QUERIES ===== */
/* For Desktop */
@media (min-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  .card__container {
    display: flex;
  }

  .card__container > :first-child {
    border-radius: 1rem 0 0 1rem;
  }

  .card__container > :last-child {
    border-radius: 0 1rem 1rem 0;
  }
}